[submodule "subprojects/dxil-spirv"]
	path = subprojects/dxil-spirv
	url = https://github.com/HansKristian-Work/dxil-spirv
[submodule "khronos/Vulkan-Headers"]
	path = khronos/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "khronos/SPIRV-Headers"]
	path = khronos/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers
